{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<form method="POST">
    {% csrf_token %}

    <h1>Login Form</h1>

    <div>
        <label for="firstname">User Name</label>
        <input type="text" id="firstname" name="user">

        <br>
        <br>

        <label for="secondname">Password</label>
        <input type="password" id="secondname" name="password">
    </div>



    <input type="submit" value="login">
</form>

</body>
</html>